<div class="d-flex w-100 header-container">
    <div class="d-flex w-100 h-100 justify-content-between align-items-center p-3">
        <div class="logo d-flex h-100">
            <a class="d-flex h-100" routerLink="/">
                <img class="img-thumbnail" src="https://cdn.worldvectorlogo.com/logos/vinnytsia.svg" alt="logo">
            </a>
        </div>
        <div class="d-flex h-100 align-items-center links">
            <ul class="d-flex w-100 gap-3">
                <li><a routerLink="/history">Історія</a></li>
                <li><a href="#">Архітектурні пам'ятки</a></li>
                <li><a href="#">Заклади культури</a></li>
                <li><a href="#">Фото</a></li>
            </ul>
        </div>
    </div>
</div>