.card {
  border: none;
  transition: transform 0.3s ease;
}

.card:hover {
  transform: scale(1.05);
}

.card-img-top {
  height: 400px;
  object-fit: contain;
}

.text-center {
  font-weight: bold;
  font-size: 1.1rem;
}
