<div class="d-flex flex-column align-items-center w-100 gap-3">
  <h1>Вінницькі мури</h1>
  <app-container [items]="items"></app-container>
  <h2>Історія</h2>
  <div class="history-grid">
    <img src="../../assets/images/myr_1.png" alt="myr_1" class="grid-item" />
    <img src="../../assets/images/myr_2.png" alt="myr_2" class="grid-item" />
    <img src="../../assets/images/forest.png" alt="myr_3" class="grid-item" />
    <p class="grid-item">
      Відлік історії Вінницьких Мурів починається 1611 р., коли вінницький
      староста надав єзуїтам під будівництво монастиря свою юридику у Вінниці та
      записав їм розміщені неподалік від міста хутір Кайдачиху і село Казаниху.
      З 1619 р. єзуїти вже мали в місті постійну резиденцію. У 1630-х рр. вони
      спорудили кам'яний кляштор, у 30-40-х рр. (до 1645) — костьол. На
      ренесансну з елементами раннього бароко архітектуру наклала відбиток
      постійна загроза татарських набігів із близького Дикого Поля.
    </p>
  </div>

  <div class="buildings-history-container w-100">
    <h2>Споруди мурів</h2>
    <app-container [items]="historyItems"></app-container>
  </div>

  <div class="w-100 wall-container">
    <h2>Вежі та стіни</h2>
    <app-container [items]="wallItems"></app-container>
  </div>

  <div
    class="savoi-container d-flex flex-column align-items-center gap-3 w-100"
  >
    <h2>Готель "Савой"</h2>
    <p>
      Великий внесок у створення сучасного вигляду вулиці на початку 20 століття
      зробив архітектор Григорій Григорович Артинов (1860-1919), перший
      архітектор Вінниці, цивільний інженер. Всього у місті збереглося 30
      будинків, створених за його проектами: готель "Україна" (колишній готель
      "Савой", будівля 1912 р.), міський театр (1910 р., частково
      перебудовувався у 1948 р.), приміщення 2-ї школи (1900 р., колишня жіноча
      міністерська гімназія).
    </p>
    <img src="../../assets/images/city.png" alt="city" />
  </div>
  <app-container class="mt-5" [items]="sovoiItems"></app-container>
</div>
