.history-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
  width: 100%;
  max-width: 1200px;
  align-items: start;

  & p {
    font-size: 24px;
  }
}

.grid-item {
  max-width: 100%;
  height: auto;
  border-radius: 15px;
}

.buildings-history-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #d0f4f0;
  flex-direction: column;
  gap: 20px;
}
