<div class="d-flex w-100 align-items-center justify-content-center flex-column p-3 gap-3">
    <h1>Вулиця Соборна</h1>
    <app-container [items]="items"></app-container>
    <div class="maOffice d-flex w-100">
        <div class="container d-flex align-items-center justify-content-center">
            <img class="img-fluid" src="../../../assets/images/maOffice.webp" alt="maOffice">
        </div>
    </div>
    <h2>Історія</h2>
    <app-container [items]="historyItems"></app-container>
    <img class="gif" src="../../assets/images/gif.gif" alt="gif">
</div>
  