<div class="d-flex flex-column align-items-center w-100 gap-3">
  <h1>Вінницький краєзнавчий музей</h1>
  <div
    class="text d-flex flex-column align-items-center justify-content-center gap-3"
  >
    <p>
      Ві́нницький обласни́й краєзна́вчий музе́й — обласний краєзнавчий музей у місті
      Вінниці, найбільше зібрання матеріалів і документів з історії, етнографії
      і культури Східного Поділля. Розташований у центрі міста, в будинку за
      адресою: вулиця Соборна, № 19, який є частиною історичного комплексу
      «Вінницькі мури». Нині музей є культурним осередком краю, на базі якого
      традиційно проводяться мистецькі, історичні, літературні,
      фольклорно-етнографічні заходи. Щороку його відвідують понад 200 тисяч
      людей, проводится майже 1500 екскурсій.
    </p>
  </div>
  <div class="photo-container d-flex gap-2 w-100 justify-content-center">
    <img
      src="../../assets/images/institution/institution1.png"
      alt="institution1"
      class="img-fluid"
    />
    <img
      src="../../assets/images/institution/institution2.png"
      alt="institution2"
      class="img-fluid"
    />
  </div>
  <div
    class="text d-flex flex-column align-items-center justify-content-center gap-3"
  >
    <p>
      Славиться музей нумізматичною та етнографічною збірками, колекцією та
      мінералів. Музею належить понад 300 зразків зброї – від кам’яного віку до
      другої світової війни. Колекція палеонтологічних знахідок нараховує 256
      одиниць зберігання. Вони виявлені переважно у неогенових і антропогенових
      відкладах кайнозойської ери.
    </p>
    <p>
      У музеї експонуються книги, рукописи, плакати, листівки, рідкісні
      фотографії, особисті речі видатних людей, пов’язані з різними періодами
      історії краю. При музеї діє бібліотека, заснована у 1920 р. Її довоєнний
      фонд знищено у 1943 р. Сучасна збірка містить понад 10,5 тис. видань кінця
      ХVІІІ — поч. ХХІ ст.
    </p>
  </div>
  <app-container
    class="mt-5 institution-container w-100"
    [items]="institutionItem1"
  ></app-container>
  <div
    class="text d-flex flex-column align-items-center justify-content-center gap-3"
  >
    <p>
      У музейній збірці є досить значна колекція срібних прикрас княжої доби
      (X–XIV ст.). Рідкісним експонатом є меч «у півтори руки» XIV ст. Окраса
      археологічної колекції музею – предмети із розкопок курганного могильника
      доби бронзи – раннього заліза (XV–Х ст. до н. е.) біля с. Гордіївка
      Тростянецького району: прикраси із золота, електруму, бронзи, бурштину,
      бронзові ножі, бронзові та кістяні деталі збруї, глиняний посуд. Унікальна
      колекція золотих прикрас бронзового та сарматського періоду експонувалась
      на шести міжнародних виставках.
    </p>
  </div>
  <app-container
    class="mt-5 institution-container w-100"
    [items]="institutionItem2"
  ></app-container>
</div>
